/* base for all use */
@import "base/variable";
@import "base/typography";
@import "base/mixins";
@import "base/base";
@import "base/utilities";

/* template */
@import "template/colors";
@import "template/text";
@import "template/linkhover";
@import "template/formfield";
@import "template/cards";
@import "template/badge";
@import "template/lists";
@import "template/table";
@import "template/pagesection";
@import "template/pagination";
@import "template/max-width";
@import "template/notice";
@import "template/animations";

/* universal all page */
@import "uni/header";
@import "uni/navbar";
@import "uni/pageheader";
@import "uni/sidebar";
@import "uni/footer";

/* section */
@import "pages/home";
@import "pages/bookmakers";
@import "pages/daycard";
@import "pages/full-results";
@import "pages/horse-racing";
@import "pages/how-to-bet";
@import "pages/how-to-bet-glossary";