.bookmakers {
    &-card {
        display: flex;
        align-items: flex-start;
        position: relative;
        padding: 40px 20px 50px;
        background-color: rgba(#000, .04);
        border-radius: 8px;

        @media (max-width: 767px) {
            flex-wrap: wrap;
        }

        &:not(:last-child) {
            margin-bottom: 26px;
        }

        .icon {
            width: 98px;
            height: 98px;
            margin-bottom: 20px;
            flex: 0 0 98px;
            border-radius: 50%;
            overflow: hidden;

            @media (max-width: 767px) {
                width: 60px;
                height: 60px;
                flex: 0 0 60px;
            }

            img {
                @include imgfit
            }
        }

        .text {
            padding-left: 35px;
            padding-right: 45px;
            flex: auto;

            @media (max-width: 767px) {
                padding: 10px 10px 20px 0;
            }

            h3 {
                font-family: $font-text;
                font-size: 24px;
                font-weight: 800;
                letter-spacing: -0.02em;
                color: $theme-secondary;

                @media (max-width: 767px) {
                    font-size: 20px;
                }
            }

            p {
                color: rgba($theme-secondary, .8);
                font-size: 14px;
                font-weight: 700;
            }

            .link-longarrow {
                color: rgba($theme-secondary, .68);
            }
        }

        .review {
            display: flex;
            margin-bottom: 22px;

            @media (max-width: 767px) {
                align-items: center;
            }

            .stars {
                font-size: 16px;
                color: #ffc107;
                margin-right: 12px;

                @media (max-width: 767px) {
                    font-size: 14px;
                }
            }

            a {
                color: $theme;
                font-size: 10px;
                line-height: 30px;
                font-weight: 800;
                letter-spacing: -0.02em;
                text-transform: uppercase;

                &:hover {
                    color: $theme-tertiary;
                }
            }
        }

        .link {}

        .link-offer {
            white-space: nowrap;
        }


        &.card-sm {
            padding-top: 22px;
            padding-bottom: 30px;

            .icon {
                width: 91px;
                height: 91px;

                @media (max-width: 767px) {
                    width: 60px;
                    flex: 0 0 60px;
                    height: 60px;
                }
            }

            h3 {
                font-size: 20px;
            }

            .link-offer {
                font-size: 14px;
            }
        }
    }
}