.section-introbanner {
    padding: 0;
}

.introbanner {
    position: relative;
    height: 563px;

    @media (max-width: 991px) {
        height: 450px;
    }

    .text {
        display: flex;
        flex-flow: column;
        justify-content: center;
        max-width: 570px;
        height: 100%;
        padding-top: 120px;

        @media (max-width: 991px) {
            padding-top: 80px;
        }

        .heading {}
    }

    &-links {
        display: flex;

        @media (max-width: 991px) {
            flex-wrap: wrap;
        }

        a {
            &:not(:last-child) {
                margin-right: 40px;

                @media (max-width: 991px) {
                    margin-bottom: 20px;
                    margin-right: 0;
                }
            }

            @media (max-width: 991px) {
                width: 100%;
            }
        }
    }
}

.napotd {
    .section-head {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .heading {
            margin-bottom: 0;

            @media (max-width: 567px) {
                width: 100%;
            }
        }

        a {
            @media (min-width: 568px) {
                margin-left: auto;
            }

            @media (max-width: 567px) {
                margin-top: 15px;
            }
        }
    }

    &-sm .section-head {
        margin-bottom: 30px;
    }

    .shadow {
        box-shadow: 0 0 24px rgba(#000, .08);
        border-radius: 14px;
    }

    &-box {
        padding: 30px 36px 0px;

        @media (max-width: 567px) {
            padding: 20px 20px 0px;
        }

        &-head {
            display: flex;
            align-items: center;
            padding-bottom: 18px;

            @media (max-width: 991px) {
                flex-wrap: wrap;

                >* {
                    width: 100%;

                    &:not(:last-child) {
                        margin-bottom: 15px;
                    }
                }
            }

            .napotd-box-btns {
                margin-left: auto;
            }
        }

        &-title {
            font-family: $font-alt;
            font-size: 18px;
            font-weight: 800;
            margin-bottom: 0;
            margin-right: 60px;
        }

        &-specs {
            span {
                font-family: $font-alt;
                font-size: 15px;
                font-weight: 800;
                display: inline-block;

                &:not(:last-child) {
                    margin-right: 42px;
                }

                img {
                    vertical-align: middle;
                    width: 21px;
                    margin-right: 12px;
                }
            }
        }

        &-footer {
            text-align: right;
            padding-top: 14px;
            padding-bottom: 18px;

            @media (max-width: 991px) {
                padding-bottom: 12px;
            }

            p {
                font-size: 11px;
                font-weight: 600;
                opacity: .68;
                margin-bottom: 0;
            }
        }

        &-social {
            padding: 20px 0;
            text-align: center;

            p {
                font-size: 17px;
                font-weight: 800;
                margin-bottom: 0;

                span {
                    display: inline-block;
                    color: $theme-text-light;
                    margin-right: 20px;
                }

                a {
                    display: inline-block;
                    width: 30px;
                    height: 30px;

                    img {
                        width: 100%;
                    }

                    &+a {
                        margin-left: 12px;
                    }
                }
            }
        }
    }

    &-sm .napotd-box-footer {
        text-align: center;
    }

    &-subscribe {
        max-width: 1006px;
        @include margin-auto;
        margin-top: 30px;
        display: flex;
        align-items: center;

        @media (max-width: 991px) {
            flex-wrap: wrap;
        }

        h4 {
            font-family: $font-text;
            font-size: 17px;
            font-weight: 800;
            letter-spacing: -0.02em;
            margin: 0 14px 0 0;
            color: $theme-secondary;
            opacity: .68;

            @media (max-width: 991px) {
                width: 100%;
                margin-bottom: 12px;
            }
        }

        form {
            display: flex;

            @media (max-width: 991px) {
                flex-wrap: wrap;
            }

            >*:not(:last-child) {
                margin-right: 6px;

                @media (max-width: 991px) {
                    margin-bottom: 6px;
                    margin-right: 0;
                }
            }

            input {
                height: 46px;
            }

            input:not([type="submit"]) {
                width: 270px;
                padding: 10px 16px;
                background-color: rgba(#000, .04);
                font-size: 12px;
                border: 0;

                @media (max-width: 991px) {
                    width: 100%;
                    padding: 10px 16px;
                }

                &::placeholder {
                    font-size: 12px;
                    color: #000;
                    opacity: .48;
                }
            }

            input:not([type="submit"])::placeholder,
            input[type="submit"] {
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 800;
            }

            input[type="submit"] {
                color: #fff;
                background-color: $theme;
                border: 0;
                width: 146px;
                padding: 0 21px;
                border-radius: 4px;
                cursor: pointer;
                text-transform: uppercase;
            }
        }
    }

    &-sm .napotd-subscribe {
        flex-direction: column;
        padding-bottom: 35px;

        h4 {
            margin-bottom: 15px;
        }
    }
}

.raceresults {

    .tabtoggle-item {
        @media (max-width: 1200px) {
            overflow-y: auto;
        }
    }

    .carousel {
        &-indicators {
            position: relative;
            bottom: auto;
            right: auto;
            display: flex;
            justify-content: flex-start;
            list-style-type: none;
            margin-left: 0;
            margin-right: 0;
            padding-left: 0;

            @media (max-width: 767px) {
                flex-wrap: wrap;
            }

            >li {
                display: inline-block;
                padding: 8px 23px;
                font-weight: 800;
                width: auto;
                height: auto;
                color: rgba($theme-secondary, .68);
                background-color: #fff;
                border-radius: 4px;
                text-indent: initial;
                margin-left: 0;
                cursor: pointer;
                transition: all .3s ease-out;

                &::before,
                &::after {
                    display: none;
                }

                @media (max-width: 567px) {
                    width: 100%;
                }

                &:not(:last-child) {
                    margin-right: 5px;

                    @media (max-width: 767px) {
                        margin-bottom: 5px;
                        margin-right: 0;
                    }
                }

                &.active {
                    color: #fff;
                    background-color: $theme;
                }
            }
        }
    }

    &-alt .carousel-indicators>li:not(.active) {
        background-color: rgba($theme-brown-alt, .08);
    }

    &-card {
        display: flex;
        font-size: 16px;
        border-radius: 14px;
        text-align: center;
        background-color: #fff;

        @media (max-width: 1200px) {
            min-width: 890px;
            font-size: 14px;
        }

        &:nth-child(even) {
            background-color: rgba(#fff, .48);
        }

        &:not(:last-child) {
            margin-bottom: 7px;
        }

        >* {
            flex: 1 1 0;
            max-width: 115px;
            padding: 18px 10px;

            @media (max-width: 1200px) {
                padding: 12px 4px;
                max-width: 70px;
            }

            @media (max-width: 991px) {
                max-width: 93px;
            }

            @media (max-width: 767px) {
                padding: 8px 4px;
            }

            &:not(:first-child) {
                border-left: 1px solid rgba(#000, .08);
            }
        }

        span {
            display: block;
        }

        &-title {
            max-width: initial;
            text-align: left;
            padding-left: 35px;
            padding-right: 35px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &::after {
                content: "\f104";
                font-family: "Font Awesome 5 Free";
                font-weight: 700;
            }

            @media (max-width: 991px) {
                flex: 0 0 280px;
            }

            @media (max-width: 767px) {
                padding-left: 15px;
                padding-right: 15px;
                flex: 0 0 220px;
            }
        }

        &-link {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;

            @media (min-width: 992px) and (max-width: 1350px) {
                flex: 0 0 115px;
                max-width: 115px;
            }

            @media (max-width: 991px) {
                flex: 0 0 68px;
                max-width: 68px;
            }
        }

        .link-type-3 {
            font-weight: 800;
            padding: 0px 15px;
            text-transform: initial;

            &::after {
                display: none;
            }

            @media (max-width: 991px) {
                padding: 0 4px;
            }
        }
    }

    &-table {
        border-collapse: separate;
        border-spacing: 0 7px;

        tr {
            background-color: #fff;
            vertical-align: middle;

            @media (max-width: 1200px) {
                padding: 12px 4px;
                max-width: 70px;
            }

            @media (max-width: 991px) {
                max-width: 93px;
            }

            @media (max-width: 767px) {
                padding: 8px 4px;
            }

            &:nth-child(even) {
                background-color: rgba(#fff, .48);
            }

            td {
                width: 120px;
                height: 90px;
                table-layout: fixed;
                padding: 18px 10px;
                border-top: 0;
                border-bottom: 0;

                &:not(:first-child) {
                    max-width: 120px;
                    text-align: center;
                    border-left: 1px solid rgba(#000, .08);
                }

                &:first-child {
                    width: 100%;
                    padding-left: 35px;
                    padding-right: 35px;
                    border-radius: 14px 0 0 14px;
                }

                &:last-child {
                    width: 100%;
                    border-radius: 0 14px 14px 0;
                }

                span {
                    display: block;
                }

                .link-type-3 {
                    font-weight: 800;
                    padding: 0 15px;
                    text-transform: initial;
                }
            }
        }
    }
}

.result-table {
    overflow-x: auto;

    &-list {
        padding-left: 0;
        margin-bottom: 0;
        list-style-type: none;

        @media (max-width: 991px) {
            min-width: 930px;
        }

        &-item {
            display: flex;
            background-color: #fff;
            border-radius: 14px;

            &:nth-child(even) {
                background-color: rgba(#fff, .48);
            }

            &:not(:last-child) {
                margin-bottom: 7px;
            }

            >* {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding: 10px 10px;
                height: 80px;
                text-align: center;
                font-weight: 800;

                @media (max-width: 991px) {
                    height: 65px;
                }

                &:not(:first-child) {
                    border-left: 1px solid rgba(#000, .08);
                }
            }

            .title {
                flex: auto;
                justify-content: space-between;
                flex-direction: row;
                padding-left: 35px;
                padding-right: 35px;
                max-width: calc(100% - (120px * 6) - 115px);

                @media (max-width: 1200px) {
                    max-width: calc(100% - (90px * 6) - 70px);
                }

                &::after {
                    content: "\f104";
                    font-family: "Font Awesome 5 Free";
                    font-weight: 700;
                }
            }

            .time {
                flex: 0 0 120px;
                max-width: 120px;

                @media (max-width: 1200px) {
                    flex: 0 0 90px;
                    max-width: 90px;
                }
            }

            .link {
                flex: 0 0 115px;
                max-width: 115px;
                margin-left: auto;

                @media (max-width: 1200px) {
                    flex: 0 0 70px;
                    max-width: 70px;
                }
            }

            .link-type-3 {
                font-weight: 800;
                padding: 0 15px;
                text-transform: initial;
                margin-top: 2px;
            }
        }
    }

    &-sm {}
}

table.result-table {

    border-collapse: separate;
    border-spacing: 0 7px;

    @media (max-width: 991px) {
        min-width: 930px;
    }

    tr {
        padding-left: 0;
        margin-bottom: 0;
        list-style-type: none;
        border: 0;

        &:nth-child(even) {
            background-color: rgba(#fff, .48);
        }

        td {
            color: rgba(#000, .8);
            font-size: 18px;
            padding: 10px 10px;
            height: 80px;
            background-color: #fff;
            text-align: center;
            font-weight: 800;
            border-top: 0;

            @media (max-width: 991px) {
                height: 65px;
            }

            &:not(:first-child) {
                border-left: 1px solid rgba(#000, .08);
            }

            &:first-child {
                border-top-left-radius: 14px;
                border-bottom-left-radius: 14px;
            }

            &:last-child {
                border-top-right-radius: 14px;
                border-bottom-right-radius: 14px;
            }

            &.title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-left: 35px;
                padding-right: 35px;

                &::after {
                    content: "\f104";
                    font-family: "Font Awesome 5 Free";
                    font-weight: 700;
                }
            }

            &.time {
                flex: 0 0 120px;
                max-width: 120px;

                @media (max-width: 1200px) {
                    flex: 0 0 90px;
                    max-width: 90px;
                }
            }

            &.link {
                flex: 0 0 115px;
                max-width: 115px;
                margin-left: auto;

                @media (max-width: 1200px) {
                    flex: 0 0 70px;
                    max-width: 70px;
                }
            }

            &.empty {
                border-left: 0;
            }

            .link-type-3 {
                font-weight: 800;
                padding: 0 15px;
                text-transform: initial;
                margin-top: 2px;
            }
        }
    }

    &.result-table-sm {
        border: 1px solid rgba(#000, .08);

        tr {
            margin-bottom: 0;

            &:not(:last-child) {
                td {
                    border-bottom: 1px solid rgba(#000, .08);
                }
            }

            td {
                height: 50px;
                font-size: 14px;
            }
        }
    }
}

.bookmakershp {
    .section-head {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .heading {
            margin-bottom: 0;

            @media (max-width: 567px) {
                width: 100%;
            }
        }

        a {
            @media (min-width: 568px) {
                margin-left: auto;
            }

            @media (max-width: 567px) {
                margin-top: 15px;
            }
        }
    }

    .row {
        margin-left: -8px;
        margin-right: -8px;
    }

    [class^="col-"] {
        padding-left: 8px;
        padding-right: 8px;

        @media (max-width: 991px) {
            padding-bottom: 16px;
        }
    }

}

.section-howtobet {
    padding: 125px 0 110px;

    @media (max-width: 767px) {
        padding: 70px 0 50px;

        .section-bg img {
            object-position: 60% 50%;
        }
    }

    @media (max-width: 567px) {
        .section-bg img {
            object-position: 65% 50%;
        }
    }
}

.howtobet {
    max-width: 580px;

    p {
        font-size: 18px;
        font-weight: 700;
        color: rgba($theme-secondary, .68);
    }

    &-steps {
        display: flex;
        align-items: center;
        padding-left: 0;
        list-style-type: none;

        @media (max-width: 767px) {
            flex-wrap: wrap;
        }

        >li {
            position: relative;
            padding-left: 56px;
            font-size: 16px;
            font-weight: 800;
            color: $theme;

            @media (max-width: 767px) {
                width: 100%;
            }

            &:not(:last-child) {
                margin-right: 35px;

                @media (max-width: 767px) {
                    margin-bottom: 30px;
                    margin-right: 0;
                }
            }

            span {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 36px;
                height: 36px;
                line-height: 36px;
                display: inline-block;
                color: #fff;
                background-color: $theme;
                border-radius: 50%;
                text-align: center;

                &::before {
                    content: "";
                    z-index: -1;
                    @include absolcenter;
                    width: 48px;
                    height: 48px;
                    background-color: rgba($theme, .14);
                    border-radius: 50%;
                }
            }
        }
    }
}

.bloghp {
    @media (min-width: 992px) {
        &-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 20px;
            grid-template-areas: "grid-item-1 grid-item-2 grid-item-3"
                "grid-item-1 grid-item-2 grid-item-4"
                "grid-item-1 grid-item-2 grid-item-5";
        }

        .grid-item {
            &-1 {
                grid-area: grid-item-1;
            }

            &-2 {
                grid-area: grid-item-2;
            }

            &-3 {
                grid-area: grid-item-3;
            }

            &-4 {
                grid-area: grid-item-4;
            }

            &-5 {
                grid-area: grid-item-5;
            }
        }
    }

    .card {
        position: relative;
        border: 0;
        border-radius: 0;

        @media (max-width: 991px) {
            margin-bottom: 18px;
        }

        .details {
            display: flex;

            span {
                font-size: 12px;
                font-weight: 800;

                &:not(:last-child) {
                    margin-right: 15px;
                }
            }
        }

        .image {
            img {
                @include imgfit;
            }
        }

        &-lg {
            .image {
                height: 375px;

                @media (max-width: 991px) {
                    height: 310px;
                }
            }

            .text {
                z-index: 1;
                @include absoldefault;
                display: flex;
                flex-flow: column;
                justify-content: flex-end;
                padding: 0 47px 35px;
                color: #fff;
                background: linear-gradient(to bottom, transparent, rgba($theme-secondary, .7));

                @media (max-width: 1200px) {
                    padding: 0 25px 20px;
                }

                h2 {
                    font-family: $font-text;
                    font-style: 42px;
                    font-weight: 900;
                    line-height: normal;
                    letter-spacing: -0.02em;
                    margin-bottom: 20px;
                }

                h3 {
                    font-family: $font-text;
                    font-size: 24px;
                    font-weight: 800;
                    margin-bottom: 10px;
                }
            }
        }

        &-sm {
            display: flex;
            align-items: center;
            flex-direction: row;

            .image {
                flex: 0 0 122px;
                max-width: 122px;
                height: 106px;
            }

            .text {
                padding-left: 20px;

                h3 {
                    font-family: $font-text;
                    font-size: 16px;
                    font-weight: 800;
                    margin-bottom: 10px;
                }
            }

            .details {
                color: #000;
                opacity: .68;
            }
        }
    }
}