.color {
  &-theme {
    color: $theme !important;
  }

  &-theme-secondary {
    color: $theme-secondary !important;
  }

  &-theme-tertiary {
    color: $theme-tertiary !important;
  }

  &-text {
    color: $theme-text !important;
  }

  &-text-dark {
    color: $theme-black !important;
  }

  &-gray {
    color: $theme-gray !important;
  }

  &-white {
    color: #fff !important;
  }
}

.bg-color {
  &-theme-primary {
    background-color: $theme !important;
  }

  &-theme-secondary {
    background-color: $theme-secondary !important;
  }

  &-theme-tertiary {
    background-color: $theme-tertiary !important;
  }

  &-text {
    background-color: $theme-text !important;
  }

  &-text-dark {
    background-color: $theme-black !important;
  }

  &-gray {
    background-color: $theme-gray !important;
  }

  &-white {
    background-color: #fff !important;
  }

  &-yellow {
    background-color: #ffa92e !important;
  }
}

.heading {
  color: $theme-secondary;
  font-family: $font;
  font-size: 34px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 47px;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  @media (max-width: 991px) {
    font-size: 28px;
  }

  &-alt {
    font-family: $font-text;
    font-size: 42px;
    font-weight: 800;
    letter-spacing: -0.02em;
    margin-bottom: 8px;
    color: $theme-secondary;
  }
}

.text-center .heading-bar {
  @include margin-auto;
}

.section-divider {
  width: 100%;
  height: 30px;
  background-color: #fff;
}

.imgfit {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.max-width {
  &--100 {
    max-width: 100px;
  }

  &--150 {
    max-width: 150px;
  }

  &--200 {
    max-width: 200px;
  }

  &--250 {
    max-width: 250px;
  }

  &--300 {
    max-width: 300px;
  }

  &--350 {
    max-width: 350px;
  }

  &--400 {
    max-width: 400px;
  }

  &--450 {
    max-width: 450px;
  }

  &--500 {
    max-width: 500px;
  }

  &--550 {
    max-width: 550px;
  }

  &--600 {
    max-width: 600px;
  }

  &--650 {
    max-width: 650px;
  }

  &--700 {
    max-width: 700px;
  }

  &--750 {
    max-width: 750px;
  }

  &--800 {
    max-width: 800px;
  }

  &--850 {
    max-width: 850px;
  }

  &--900 {
    max-width: 900px;
  }

  &--950 {
    max-width: 950px;
  }

  &--1000 {
    max-width: 1000px;
  }

  &--1050 {
    max-width: 1050px;
  }

  &--1100 {
    max-width: 1100px;
  }

  &--1150 {
    max-width: 1150px;
  }

  &--1200 {
    max-width: 1200px;
  }

  &--1250 {
    max-width: 1250px;
  }

  &--1300 {
    max-width: 1300px;
  }

  &--1350 {
    max-width: 1350px;
  }

  &--1400 {
    max-width: 1400px;
  }
}

.tabtoggle {
  &-nav {
    display: flex;
    list-style-type: none;
    padding-left: 0;

    @media (max-width: 767px) {
      flex-wrap: wrap;
    }

    >li {
      display: inline-block;
      padding: 8px 23px;
      font-weight: 800;
      color: rgba($theme-secondary, .68);
      background-color: #fff;
      border-radius: 4px;
      cursor: pointer;
      transition: all .3s ease-out;

      @media (max-width: 767px) {
        width: 100%;
      }

      &:not(:last-child) {
        margin-right: 5px;

        @media (max-width: 767px) {
          margin-bottom: 5px;
          margin-right: 0;
        }
      }

      &.active {
        color: #fff;
        background-color: $theme;
      }
    }
  }

  &-item {
    &:not(.active) {
      display: none;
    }
  }
}