.color {
  &-theme {
    color: $theme !important;
  }

  &-theme-secondary {
    color: $theme-secondary !important;
  }

  &-theme-tertiary {
    color: $theme-tertiary !important;
  }

  &-brown {
    color: $theme-brown !important;
    ;
  }

  &-text {
    color: $theme-text !important;
  }

  &-text-dark {
    color: $theme-black !important;
  }

  &-darkgreen {
    background-color: $theme-darkgreen !important;
  }

  &-darkergreen {
    background-color: $theme-darkergreen !important;
  }

  &-green {
    background-color: $theme-green !important;
  }

  &-blue {
    background-color: $theme-blue !important;
  }

  &-darkerblue {
    background-color: $theme-darkerblue !important;
  }

  &-gray {
    color: $theme-gray !important;
  }

  &-white {
    color: #fff !important;
  }
}

.bg-color {
  &-theme-primary {
    background-color: $theme !important;
  }

  &-theme-secondary {
    background-color: $theme-secondary !important;
  }

  &-theme-tertiary {
    background-color: $theme-tertiary !important;
  }

  &-text {
    background-color: $theme-text !important;
  }

  &-text-dark {
    background-color: $theme-black !important;
  }

  &-darkgreen {
    background-color: $theme-darkgreen !important;
  }

  &-darkergreen {
    background-color: $theme-darkergreen !important;
  }

  &-green {
    background-color: $theme-green !important;
  }

  &-blue {
    background-color: $theme-blue !important;
  }

  &-darkerblue {
    background-color: $theme-darkerblue !important;
  }

  &-gray {
    background-color: $theme-gray !important;
  }

  &-white {
    background-color: #fff !important;
  }

  &-yellow {
    background-color: #ffa92e !important;
  }
}

.heading {
  color: $theme-secondary;
  font-family: $font;
  font-size: 34px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 47px;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  @media (max-width: 991px) {
    font-size: 28px;
  }

  &-alt {
    font-family: $font-text;
    font-size: 42px;
    font-weight: 800;
    letter-spacing: -0.02em;
    margin-bottom: 8px;
    color: $theme-secondary;
  }

  &-sub {
    font-family: $font-text;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
  }

  &-mini {
    color: rgba($theme-secondary, .88);
    font-family: $font-text;
    font-size: 24px;
    font-weight: 800;
  }
}

.section-head {
  color: $theme-secondary;

  .heading-alt {
    color: rgba($theme-secondary, .88);
  }

  p {
    font-size: 15px;
    font-weight: 800;
    margin-bottom: 0;
    color: rgba($theme-secondary, .68);
  }
}

.text-center .heading-bar {
  @include margin-auto;
}


.icon-tags {
  margin-bottom: 32px;

  span,
  a {
    font-size: 14px;
    font-weight: 800;
    display: inline-block;
    color: rgba(#000, .68);

    &:not(:last-child) {
      margin-right: 25px;
    }

    img {
      width: 14px;
      margin-right: 10px;
    }
  }
}

.section-divider {
  width: 100%;
  height: 30px;
  background-color: #fff;
}

.imgfit {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.max-width {
  &--100 {
    max-width: 100px;
  }

  &--150 {
    max-width: 150px;
  }

  &--200 {
    max-width: 200px;
  }

  &--250 {
    max-width: 250px;
  }

  &--300 {
    max-width: 300px;
  }

  &--350 {
    max-width: 350px;
  }

  &--400 {
    max-width: 400px;
  }

  &--450 {
    max-width: 450px;
  }

  &--500 {
    max-width: 500px;
  }

  &--550 {
    max-width: 550px;
  }

  &--600 {
    max-width: 600px;
  }

  &--650 {
    max-width: 650px;
  }

  &--700 {
    max-width: 700px;
  }

  &--750 {
    max-width: 750px;
  }

  &--800 {
    max-width: 800px;
  }

  &--850 {
    max-width: 850px;
  }

  &--900 {
    max-width: 900px;
  }

  &--950 {
    max-width: 950px;
  }

  &--1000 {
    max-width: 1000px;
  }

  &--1050 {
    max-width: 1050px;
  }

  &--1100 {
    max-width: 1100px;
  }

  &--1150 {
    max-width: 1150px;
  }

  &--1200 {
    max-width: 1200px;
  }

  &--1250 {
    max-width: 1250px;
  }

  &--1300 {
    max-width: 1300px;
  }

  &--1350 {
    max-width: 1350px;
  }

  &--1400 {
    max-width: 1400px;
  }
}

.tabtoggle {
  &-nav {
    display: flex;
    list-style-type: none;
    padding-left: 0;

    @media (max-width: 767px) {
      flex-wrap: wrap;
    }

    >li {
      display: inline-block;
      padding: 8px 23px;
      font-weight: 800;
      color: rgba($theme-secondary, .68);
      background-color: #fff;
      border-radius: 4px;
      cursor: pointer;
      transition: all .3s ease-out;

      @media (max-width: 767px) {
        width: 100%;
      }

      &:not(:last-child) {
        margin-right: 5px;

        @media (max-width: 767px) {
          margin-bottom: 5px;
          margin-right: 0;
        }
      }

      &.active {
        color: #fff;
        background-color: $theme;
      }
    }
  }

  &-item {
    &:not(.active) {
      display: none;
    }
  }
}

.table {
  td {
    vertical-align: middle;
  }

  strong {
    font-weight: 800;
  }

  .table-jockey-icon {
    width: 24px;
    margin-right: 3px;
  }
}

.custom-table-1 {
  white-space: nowrap;

  &.table-firstchild-spacing {

    thead th:first-child,
    tbody td:first-child {
      @media (min-width: 568px) {
        padding-right: 50px;
      }
    }
  }

  thead {
    background-color: $theme-gray;

    th {
      font-size: 13px;
      font-weight: 800;
      border-top: 1px solid rgba($theme-secondary, .1);
      border-bottom: 0;
    }
  }

  tbody {
    td {
      font-size: 14px;
      padding: 10px 12px;
      border-top: 0;
      border-bottom: 1px solid rgba($theme-secondary, .1);
      font-weight: 600;
    }
  }
}

.pos-num {
  color: $theme-secondary;
  font-size: 28px;
  font-weight: 900;
  opacity: .28;

  sup {
    font-weight: 700;
    margin-left: -5px;
  }
}

.cta-banner {
  margin: 40px 0;

  &-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 50px;
    color: #fff;
    background-color: $theme-secondary;
    border-radius: 4px;

    @media (max-width: 991px) {
      padding: 25px 30px;
    }

    @media (max-width: 991px) {
      flex-direction: column;
      text-align: center;

      >*:not(img) {
        width: 100%;
        margin-top: 15px;
      }
    }

    h3,
    h4 {
      font-family: $font-text;
      margin-bottom: 0;
    }

    h3 {
      font-size: 29px;
      font-weight: 800;
    }

    h4 {
      font-size: 20px;
      font-weight: 800;

      a {
        color: $theme-yellow;
        text-decoration: underline;
      }
    }
  }

  img {
    @media (min-width: 992px) {
      width: auto;
      max-width: 25%;
    }
  }

  small {
    display: block;
    font-size: 10px;
    line-height: 13px;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
    opacity: .68;
  }
}

.pagesection {

  &-main,
  &-side {
    padding-left: 15px;
    padding-right: 15px;
  }

  @media (min-width: 1201px) {
    &-main {
      flex: 0 0 calc(100% - 350px);
      max-width: calc(100% - 350px);
      padding-right: 36px;
    }

    &-side {
      flex: 0 0 350px;
      max-width: 350px;
    }
  }

  @media (max-width: 1200px) {

    &-main,
    &-side {
      width: 100%;
    }

    &-side {
      padding: 40px 0;
    }
  }

  &-div {
    padding: 25px 0 28px;
  }
}