.icon-tags {
  margin-bottom: 32px;

  span,
  a {
    font-size: 14px;
    font-weight: 800;
    display: inline-block;
    color: rgba(#000, .68);

    &:not(:last-child) {
      margin-right: 25px;
    }

    img {
      width: 14px;
      margin-right: 10px;
    }
  }
}

.section-divider {
  width: 100%;
  height: 30px;
  background-color: #fff;
}

.imgfit {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.border-top {
  border-top: 1px solid rgba(0, 0, 0, .1);
  padding-top: 14px;
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding-bottom: 14px;
}

.tabtoggle {
  &-nav {
    display: flex;
    list-style-type: none;
    padding-left: 0;

    @media (max-width: 767px) {
      flex-wrap: wrap;
    }

    >li {
      display: inline-block;
      padding: 8px 23px;
      font-weight: 800;
      color: rgba($theme-secondary, .68);
      background-color: #fff;
      border-radius: 4px;
      cursor: pointer;
      transition: all .3s ease-out;

      @media (max-width: 767px) {
        width: 100%;
      }

      &:not(:last-child) {
        margin-right: 5px;

        @media (max-width: 767px) {
          margin-bottom: 5px;
          margin-right: 0;
        }
      }

      &.active {
        color: #fff;
        background-color: $theme;
      }
    }
  }

  &-item {
    &:not(.active) {
      display: none;
    }
  }
}

.pos-num {
  display: inline-block;
  color: $theme-secondary;
  font-size: 28px;
  font-weight: 900;
  opacity: .28;
  min-width: 41px;

  @media (max-width: 767px) {
    font-size: 22px;
    min-width: 31px;
  }

  sup {
    font-size: 60%;
    font-weight: 700;
    margin-left: -5px;
  }
}

.cta-banner {
  margin: 40px 0;

  &-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 50px;
    color: #fff;
    background-color: $theme-secondary;
    border-radius: 4px;

    @media (max-width: 991px) {
      padding: 25px 30px;
    }

    @media (max-width: 991px) {
      flex-direction: column;
      text-align: center;

      >*:not(img) {
        width: 100%;
        margin-top: 15px;
      }
    }

    h3,
    h4 {
      font-family: $font-text;
      margin-bottom: 0;
    }

    h3 {
      font-size: 29px;
      font-weight: 800;

      @media (max-width: 767px) {
        font-size: 22px;
      }
    }

    h4 {
      font-size: 20px;
      font-weight: 800;

      @media (max-width: 767px) {
        font-size: 18px;
      }

      a {
        color: $theme-yellow;
        text-decoration: underline;
      }
    }
  }

  img {
    @media (min-width: 992px) {
      width: auto;
      max-width: 25%;
    }
  }

  small {
    display: block;
    font-size: 10px;
    line-height: 13px;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
    opacity: .68;
  }
}

.custom-searchfield {
  position: relative;
  margin-bottom: 32px;

  input[type="text"] {
    width: 100%;
    height: 41px;
    padding-left: 30px;
    padding-right: 50px;
    background-color: $theme-fieldbg;
    border: 0;
    border-radius: 21px;

    &:focus {
      box-shadow: 0 0 6px rgba($theme-secondary, .2);
    }
  }

  button[type="submit"] {
    @include absoltopcenter;
    right: 0;
    width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 0;
    cursor: pointer;
    background-color: transparent;

    &:hover,
    &:focus {
      outline: none;
    }

    img {
      width: 15px;
    }
  }
}

.bd-radius-14 {
  border-radius: 14px;
}

.content-reveal {
  &-btn {
    &::after {
      content: "+";
      font-weight: 300;
      display: inline-block;
      margin-left: 10px;
      font-size: 110%;
      width: 20px;
      height: 20px;
      line-height: 14px;
      border: 1px solid #fff;
      border-radius: 50%;
    }
  }

  &.active .content-reveal-btn::after {
    content: "-";
  }
}

.hidden {
  display: none;
}

.accord {
  &-title {
    position: relative;
    cursor: pointer;

    &::after {
      content: "\f107";
      font-family: $font-awesome;
      font-weight: 700;
      color: #fff;
      @include absoltopcenter;
      right: 20px;
      width: 20px;
      height: 20px;
      line-height: 20px;
      border-radius: 50%;
      text-align: center;
      font-size: 80%;
      background-color: rgba(#fff, .1);
      transition: all .3s ease-out;
    }
  }

  &-item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &.active .accord-title::after {
      transform: translateY(-50%) rotate(180deg);
    }

    &:not(.active) .accord-body {
      display: none;
    }
  }
}