.badge {
    display: inline-flex;
    align-items: center;
    padding: 5px 15px 5px 5px;
    margin-bottom: 18px;
    border-radius: 22px;
    box-shadow: $theme-shadow-alt;

    @media (max-width: 767px) {
        padding: 2px 10px 2px 2px;
        margin-bottom: 10px;
    }

    &:not(:last-child) {
        margin-right: 8px;

        @media (max-width: 767px) {
            margin-right: 4px;
        }
    }

    .icon {
        width: 34px;
        height: 34px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        margin-right: 12px;

        @media (max-width: 767px) {
            width: 26px;
            height: 26px;
        }
    }

    p {
        font-family: $font-text;
        font-size: 14px;
        line-height: 28px;
        font-weight: 800;
        display: inline-block;
        margin-bottom: 0;

        @media (max-width: 767px) {
            font-size: 12px;
        }
    }

    &:hover {
        color: #fff;
        background-color: $theme;

        p {
            color: #fff;
        }
    }

    &.align-right {
        padding-left: 15px;
        padding-right: 5px;

        .icon {
            margin-left: 12px;
            margin-right: 0;
        }
    }
}

.badge-wrap {
    .badge {
        margin-bottom: 5px;
    }
}