.card {
    padding: 15px 25px;
    border-color: #e7e7e7;
    border-radius: 4px;

    &-content {
        padding: 37px 28px;
        border-color: transparent;

        @media (max-width:767px) {
            padding: 24px 18px;
        }

        &+.card-content {
            margin-top: 18px;
        }

        [class^="heading"] {
            color: $theme-secondary;
            font-size: 22px;
            margin-bottom: 24px;

            @media (max-width:767px) {
                margin-bottom: 16px;
            }
        }

        p {
            font-size: 15px;
            font-weight: 600;
            line-height: 25px;
        }

        a {
            color: $theme;
            text-decoration: underline;

            &:hover {
                color: $theme-secondary;
            }
        }

        &.size-sm {
            padding: 12px 28px;
            margin-bottom: 42px;
        }
    }

    &-type-1 {
        padding: 32px 24px;
        border: 0;
        border-radius: 14px;
        max-width: 290px;
        @include margin-auto;
        box-shadow: 0 0 24px rgba(#000, .08);
        text-align: center;

        .card-body {
            padding: 0;
        }

        .image {
            height: 117px;
            margin-bottom: 20px;

            img {
                @include imgfit;
            }
        }

        .title {
            font-family: $font-text;
            font-size: 22px;
            font-weight: 900;
            letter-spacing: -0.02em;
            margin-bottom: 15px;
            color: rgba($theme-black, .8);
        }

        p {
            font-size: 10px;
            font-weight: 600;
            color: rgba($theme-black, .6);
            text-align: center;
        }

        .link-box {
            display: block;
        }

        .link-underline {
            margin-top: 15px;
        }
    }

    &-type-2 {
        margin-bottom: 35px;

        .media {
            margin-bottom: 20px;
            border-radius: 4px;
            overflow: hidden;

            &,
            >a {
                height: 204px;

                @media (max-width: 567px) {
                    height: 180px;
                }

                @media (max-width: 400px) {
                    height: 120px;
                    margin-bottom: 10px;
                }
            }

            img {
                @include imgfit;
            }
        }

        .title {
            color: $theme-secondary;
            font-family: $font-text;
            font-size: 18px;
            font-weight: 800;
            margin-bottom: 15px;

            @media (max-width: 567px) {
                font-size: 16px;
                margin-bottom: 8px;
            }
        }

        p {
            font-size: 14px;
            line-height: 20px;
            color: rgba($theme-secondary, .8);

            @media (max-width: 567px) {
                font-size: 12px;
                line-height: 18px;
            }
        }
    }

    &-stack-1 {
        position: relative;

        @media (max-width: 991px) {
            margin-top: 30px;
            margin-bottom: 30px;
        }

        &::before,
        &::after {
            z-index: -1;
            content: "";
            position: absolute;
            width: 100%;
            height: 86%;
            border-radius: 14px;
            background-color: #fff;
            box-shadow: $theme-shadow-lg;
        }

        &::before {
            top: 32px;
            left: -40px;
        }

        &::after {
            top: 80px;
            right: -35px;
        }
    }
}

.lateart {
    &-card {
        position: relative;
        width: 100%;
        max-width: 400px;
        height: 300px;

        .image {
            @include absoldefault;

            img {
                @include imgfit;
            }
        }

        .overlay {
            @include absoldefault;
            color: #fff;
            background: linear-gradient(to bottom, transparent, rgba($theme-secondary, .75));
            display: flex;
            align-items: flex-end;
            padding: 45px 60px 45px 40px;

            @media (max-width:1200px) {
                padding: 25px 40px 25px 20px;
            }

            h4 {
                font-family: $font-text;
                font-size: 24px;
                font-weight: 800;
            }
        }
    }
}