.color {
    &-theme {
        color: $theme !important;
    }

    &-theme-secondary {
        color: $theme-secondary !important;
    }

    &-theme-tertiary {
        color: $theme-tertiary !important;
    }

    &-brown {
        color: $theme-brown !important;
        ;
    }

    &-text {
        color: $theme-text !important;
    }

    &-text-dark {
        color: $theme-black !important;
    }

    &-darkgreen {
        background-color: $theme-darkgreen !important;
    }

    &-darkergreen {
        background-color: $theme-darkergreen !important;
    }

    &-green {
        background-color: $theme-green !important;
    }

    &-blue {
        background-color: $theme-blue !important;
    }

    &-darkerblue {
        background-color: $theme-darkerblue !important;
    }

    &-gray {
        color: $theme-gray !important;
    }

    &-white {
        color: #fff !important;
    }
}

.bg-color {
    &-theme-primary {
        background-color: $theme !important;
    }

    &-theme-secondary {
        background-color: $theme-secondary !important;
    }

    &-theme-tertiary {
        background-color: $theme-tertiary !important;
    }

    &-text {
        background-color: $theme-text !important;
    }

    &-text-dark {
        background-color: $theme-black !important;
    }

    &-darkgreen {
        background-color: $theme-darkgreen !important;
    }

    &-darkergreen {
        background-color: $theme-darkergreen !important;
    }

    &-green {
        background-color: $theme-green !important;
    }

    &-blue {
        background-color: $theme-blue !important;
    }

    &-darkerblue {
        background-color: $theme-darkerblue !important;
    }

    &-gray {
        background-color: $theme-gray !important;
    }

    &-white {
        background-color: #fff !important;
    }

    &-yellow {
        background-color: $theme-yellow !important;
    }

    &-yellow-alt {
        background-color: $theme-yellow-alt !important;
    }

    &-orange {
        background-color: $theme-orange !important;
    }

    &-orange-accent {
        background-color: $theme-orange-accent !important;
    }

    &-paddypower {
        background-color: $theme-darkergreen !important;
    }

    &-williamhill {
        background-color: $theme-blue-dark !important;
    }

    &-boylesports {
        background-color: $theme-darkerblue !important;
    }
}

a.bg-color,
button.bg-color {
    &-theme-primary {
        &:hover {
            background-color: darken($theme, 5%) !important;
        }
    }

    &-theme-secondary {
        &:hover {
            background-color: darken($theme-secondary, 5%) !important;
        }
    }

    &-theme-tertiary {
        &:hover {
            background-color: darken($theme-tertiary, 5%) !important;
        }
    }

    &-text {
        &:hover {
            background-color: darken($theme-text, 5%) !important;
        }
    }

    &-text-dark {
        &:hover {
            background-color: darken($theme-black, 5%) !important;
        }
    }

    &-darkgreen {
        &:hover {
            background-color: darken($theme-darkgreen, 5%) !important;
        }
    }

    &-darkergreen {
        &:hover {
            background-color: darken($theme-darkergreen, 5%) !important;
        }
    }

    &-green {
        &:hover {
            background-color: darken($theme-green, 5%) !important;
        }
    }

    &-blue {
        &:hover {
            background-color: darken($theme-blue, 5%) !important;
        }
    }

    &-darkerblue {
        &:hover {
            background-color: darken($theme-darkerblue, 5%) !important;
        }
    }

    &-gray {
        &:hover {
            background-color: darken($theme-gray, 5%) !important;
        }
    }

    &-white {
        &:hover {
            background-color: darken(#fff, 5%) !important;
        }
    }

    &-yellow {
        &:hover {
            background-color: darken($theme-yellow, 5%) !important;
        }
    }

    &-yellow-alt {
        &:hover {
            background-color: darken($theme-yellow-alt, 5%) !important;
        }
    }

    &-orange {
        &:hover {
            background-color: darken($theme-orange, 5%) !important;
        }
    }

    &-orange-accent {
        &:hover {
            background-color: darken($theme-orange-accent, 5%) !important;
        }
    }

    &-paddypower {
        &:hover {
            background-color: darken($theme-darkergreen, 5%) !important;
        }
    }

    &-williamhill {
        &:hover {
            background-color: darken($theme-blue-dark, 5%) !important;
        }
    }

    &-boylesports {
        &:hover {
            background-color: darken($theme-darkerblue, 5%) !important;
        }
    }
}

.theme-shadow {
    box-shadow: $theme-shadow;
}