.cta-box {
    position: relative;
    display: flex;
    border-radius: 14px;
    margin: 38px 0;
    overflow: hidden;
    box-shadow: 0 0 24px rgba(#000, .08);

    @media (max-width: 567px) {
        flex-wrap: wrap;
    }

    .text {
        padding: 50px;
        flex: auto;

        @media (max-width: 567px) {
            flex: 0 0 100%;
            padding: 30px 60px 20px;
        }

        .heading {
            &-mini {
                margin-bottom: 10px;
            }
        }

        small {
            color: rgba($theme-black, .68);
            display: block;
            font-size: 10px;
            line-height: 13px;
            font-weight: 600;
            margin-bottom: 15px;
        }
    }

    .box {
        flex: 0 0 220px;
        background-color: $theme-gray;
        display: inline-flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        padding: 20px;

        @media (max-width: 567px) {
            flex: 0 0 100%;
        }

        img {
            max-width: 100%;
        }

        &.blue {
            background-color: $theme-blue-dark;
        }

        &.black {
            background-color: #000;
        }

        &.green-dark {
            background-color: #1f6556;
        }

        &.green-light {
            background-color: #008c6d;
        }

        .link-box {
            font-size: 10px;
            font-weight: 900;
            margin-top: 10px;
            padding: 12px 14px;

            &:hover {
                color: #fff;
                background-color: $theme !important;
            }
        }
    }

    .ribbon {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.cta-box-wrap {
    .cta-box {
        margin: 25px 0;
    }
}