.filters {
    display: flex;
    justify-content: flex-end;

    .form-group {
        @media (min-width: 992px) {
            margin-bottom: 0;
        }

        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    select {
        padding: 5px 40px 5px 20px;
        height: 35px;
        border-radius: 24px;
        color: $theme-secondary;
        border: 1px solid rgba($theme-secondary, .48);
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSI1IiB2aWV3Qm94PSIwIDAgMTAgNSI+DQogIDxwYXRoIGlkPSJQb2x5Z29uXzEiIGRhdGEtbmFtZT0iUG9seWdvbiAxIiBkPSJNNSwwbDUsNUgwWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTAgNSkgcm90YXRlKDE4MCkiIGZpbGw9IiMwMGFjZTMiLz4NCjwvc3ZnPg0K");
        background-repeat: no-repeat;
        background-position: 90% 50%;

        &:focus {
            box-shadow: none;
        }

        &::-ms-expand {
            display: none;
        }
    }


}