.menu-toggle {
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    p {
        color: $theme;
        font-size: 14px;
        font-weight: 500;
        margin-right: 8px;
        margin-bottom: 0;
        min-width: 45px;
        text-align: right;
        text-transform: uppercase;
    }

    &.active p {}
}

.hamburger {
    font: inherit;
    display: inline-block;
    overflow: visible;
    margin: 0;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity, filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;

    &.is-active:hover,
    &:hover {
        opacity: .7
    }

    &.is-active &-inner,
    &.is-active &-inner:after,
    &.is-active &-inner:before {
        background-color: #000
    }

    &-box {
        position: relative;
        display: inline-block;
        width: 33px;
        height: 21px
    }

    &-inner {
        top: 50%;
        display: block;
        margin-top: -2px;

        &,
        &:after,
        &:before {
            position: absolute;
            width: 33px;
            height: 3px;
            transition-timing-function: ease;
            transition-duration: .15s;
            transition-property: transform;
            border-radius: 4px;
            background-color: #000
        }

        &:after,
        &:before {
            display: block;
            content: ""
        }

        &:before {
            top: -10px
        }

        &:after {
            bottom: -10px
        }
    }

    &--spring {
        .hamburger-inner {
            top: 2px;
            transition: background-color 0s linear .13s;

            &:before {
                top: 10px;
                transition: top .1s cubic-bezier(.33333, .66667, .66667, 1) .2s, transform .13s cubic-bezier(.55, .055, .675, .19)
            }

            &:after {
                top: 20px;
                transition: top .2s cubic-bezier(.33333, .66667, .66667, 1) .2s, transform .13s cubic-bezier(.55, .055, .675, .19)
            }
        }

        &.is-active {
            .hamburger-inner {
                transition-delay: .22s;
                background-color: transparent !important;

                &:before {
                    top: 0;
                    transition: top .1s cubic-bezier(.33333, 0, .66667, .33333) .15s, transform .13s cubic-bezier(.215, .61, .355, 1) .22s;
                    transform: translate3d(0, 10px, 0) rotate(45deg)
                }

                &:after {
                    top: 0;
                    transition: top .2s cubic-bezier(.33333, 0, .66667, .33333), transform .13s cubic-bezier(.215, .61, .355, 1) .22s;
                    transform: translate3d(0, 10px, 0) rotate(-45deg)
                }
            }
        }
    }
}