.notice {
    position: relative;
    padding: 25px 30px;
    margin-bottom: 20px;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 767px) {
        flex-wrap: wrap;
    }

    &.spacing-lg {
        padding: 40px 50px 45px 45px;
        margin-bottom: 40px;
    }

    .heading-block {
        font-weight: 800;
        margin-bottom: 10px;

    }

    @media (min-width: 992px) {
        [class^="col-"]>.heading-block {
            margin-bottom: 0;
        }
    }

    .row {
        width: calc(100% + 30px);
        align-items: center;
    }

    .icon {
        width: 70px;
        margin-right: 46px;
        margin-bottom: 20px;
    }

    .text {
        flex: auto;

        @media (min-width: 992px) {
            flex: 2;
        }
    }

    p {
        font-size: 14px;

        strong {
            font-weight: 800;
        }
    }

    .list-section {
        width: 100%;
        margin-top: 10px;

        li {
            margin-left: 0;
        }
    }

    &.green {
        color: #729d75;
        background-color: #e0efd4;
        border: 1px solid #c1ddc3;
    }

    &-brown {
        color: $theme-brown-text;
        background-color: rgba(#f9f1e6, .48);
        border: 1px solid rgba($theme-brown-text-accent, .48);

        .border-top {
            border-top-color: $theme-brown-text-accent;
        }

        .border-bottom {
            border-bottom-color: $theme-brown-text-accent;
        }

        .heading-block {
            color: $theme-brown-alt;
        }

        .link-type-2 {
            color: $theme-brown-text;

            &::after {
                color: $theme-brown-text;
                background-color: rgba($theme-brown-text, .24);
            }

            &:hover {
                color: $theme-black;
            }
        }
    }

    &.has-icon-info {
        padding-left: 78px;

        &::before {
            content: "i";
            position: absolute;
            top: 25px;
            left: 30px;
            width: 30px;
            height: 30px;
            line-height: 30px;
            border-radius: 50%;
            text-align: center;
            font-size: 16px;
            font-weight: 800;
            display: inline-block;
            color: #fff;
            background-color: $theme-brown-alt;
        }
    }
}