.custom-pagination {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    li {
        width: 24px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        border-radius: 3px;
        margin-bottom: 5px;

        a {
            width: 100%;
            height: 100%;
            // padding: 1.5px 7px;
            display: block;
            font-family: $font-text;
            font-size: 14px;
            font-weight: 800;
            letter-spacing: -.02em;
            color: $theme-secondary;
            text-transform: uppercase;

            &:hover {
                background-color: rgba($theme-secondary, .1);
            }
        }

        &.active a {
            color: $theme;
            background-color: rgba($theme-secondary, .1);
        }

        &.highlight {
            width: 43px;

            a {
                font-size: 12px;
                background-color: rgba($theme-secondary, .1);

                &:hover {
                    color: $theme;
                }
            }
        }
    }

    &.type-shadow {
        li {
            width: 30.3px;
            height: 32px;
            line-height: 32px;

            &:not(:last-child) {
                margin-right: 5px;
            }

            a {
                font-size: 14px;
                font-weight: 900;
                border-radius: 4px;
                width: 100%;
                height: 100%;
                // padding: 5.5px 10px;
                background-color: #fff;
                box-shadow: $theme-shadow;

                &:hover {
                    color: #fff;
                    background-color: $theme;
                }
            }

            &.active {
                a {
                    color: #fff;
                    background-color: $theme;
                }
            }

            &.highlight {
                width: 64px;

                a {
                    color: $theme;

                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }
}