.heading {
    color: $theme-secondary;
    font-family: $font;
    font-size: 34px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 47px;
    letter-spacing: -0.02em;
    text-transform: uppercase;

    @media (max-width: 991px) {
        font-size: 28px;
    }

    @media (max-width: 767px) {
        margin-bottom: 25px;
    }


    &.has-icon {
        display: flex;
        align-items: center;
    }

    &.has-review {
        display: flex;
        align-items: center;

        .rating-box {
            margin-left: 25px;
        }
    }

    &-term {
        color: $theme-secondary;
        position: relative;
        font-family: $font;
        font-size: 63px;
        font-weight: 600;
        letter-spacing: -0.02em;
        margin-bottom: 35px;

        @media (max-width: 767px) {
            font-size: 45px;
            padding-top: 15px;
            padding-left: 15px;
        }

        .quote-left {
            position: absolute;
            top: 16px;
            right: calc(100% + 16px);
            font-size: inherit;
            font-weight: inherit;

            @media (max-width: 767px) {
                top: 0;
                left: -2px;
                right: auto;
            }
        }
    }

    &-pagetitle {
        color: $theme-secondary;
        font-size: 51px;
        font-weight: 600;
        line-height: 87px;
        font-style: italic;
        margin-bottom: 50px;
        letter-spacing: -0.02em;
        text-transform: uppercase;

        @media (max-width: 991px) {
            font-size: 42px;
            line-height: 66px;
            margin-bottom: 30px;
            text-shadow: .5px .5px 0 rgba(#fff, .5);
        }

        &.size-lg {
            font-size: 90px;
            font-weight: 600;
            font-style: italic;
            line-height: 87px;
            margin-bottom: 40px;

            @media (max-width: 767px) {
                font-size: 50px;
                line-height: 55px;
                margin-bottom: 20px;
            }
        }
    }

    &-alt {
        font-family: $font-text;
        font-size: 42px;
        font-weight: 800;
        letter-spacing: -0.02em;
        margin-bottom: 8px;
        color: $theme-secondary;

        @media (max-width: 767px) {
            font-size: 28px;
        }

    }

    &-sub {
        font-family: $font-text;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
    }

    &-mini {
        color: rgba($theme-secondary, .8);
        font-family: $font-text;
        font-size: 24px;
        font-weight: 800;
        line-height: 30px;
        margin-bottom: 20px;
        letter-spacing: -0.02em;
    }

    &-block {
        font-family: $font-text;
        font-size: 16px;
        font-weight: 800;
        margin-bottom: 18px;
        color: $theme-secondary;
        letter-spacing: .002em;
    }

    &-sm {
        font-family: $font-text;
        font-size: 12px;
        font-weight: 800;
        text-transform: capitalize;
        color: rgba($theme-secondary, .68);
        letter-spacing: -0.02em;
        margin-bottom: 8px;
    }

    &-2 {
        font-family: $font-text;
        font-size: 24px;
        line-height: 30px;
        font-weight: 800;
        letter-spacing: -0.02em;
        color: rgba($theme-secondary, .8);
        margin-bottom: 25px;
    }

    &-3 {
        font-family: $font-text;
        font-size: 18px;
        line-height: 30px;
        font-weight: 800;
        letter-spacing: -0.02em;
        color: rgba($theme-secondary, .88);
        margin-bottom: 25px;
    }

    &-4 {
        color: $theme-secondary;
        font-family: $font-text;
        font-size: 14px;
        font-weight: 800;
        text-transform: uppercase;
        margin-bottom: 12px;
    }
}

.icon-circle {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 24px;
    width: 69px;
    height: 69px;
    border-radius: 50%;
    padding: 17px;

    &.pink-accent {
        background-color: rgba($theme-pink, .14);
    }

    &.lightgreen-accent {
        background-color: rgba($theme-lightgreen, .14);
    }

    &.size-lg {
        width: 94.5px;
        height: 94.5px;
    }

    img {
        width: 100%;
    }
}

.section-head {
    color: $theme-secondary;

    &.with-icon {
        @media (min-width: 768px) {
            display: flex;
        }

        flex-wrap: wrap;

        .icon {
            width: 98px;

            @media (min-width: 768px) {
                margin-right: 24px;
            }

            @media (max-width: 767px) {
                margin-bottom: 12px;
            }
        }

        .text {
            @media (min-width: 768px) {
                width: calc(100% - 122px);
            }
        }
    }

    .heading-alt {
        color: rgba($theme-secondary, .88);
    }

    p {
        color: rgba($theme-secondary, .68);
        font-size: 14px;

        &.p-light {
            color: rgba($theme-secondary, .68);
            font-size: 15px;
            font-weight: 600;
            line-height: 24px;
        }

        &.heavy {
            font-size: 15px;
            font-weight: 800;
        }
    }
}

.text-center .heading-bar {
    @include margin-auto;
}

.content {
    margin-bottom: 45px;

    &:last-child {
        margin-bottom: 0;
    }

    p {
        color: rgba($theme-secondary, .8);
        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
        margin-bottom: 25px;

        a {
            color: $theme;
            text-decoration: underline;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    small {
        color: $theme-secondary;
        font-size: 11px;
        font-weight: 500;
    }

    &-lg {
        margin: 50px 0;

        p {
            color: rgba($theme-secondary, .80);
            font-size: 24px;
            line-height: 30px;
            letter-spacing: -0.02em;

            a {
                text-decoration: underline;

                &:hover {
                    color: $theme;
                }
            }
        }

        .link-box {
            font-size: 12px;
            padding: 11px 28px;
        }

    }

    &-italic {
        p {
            font-weight: 300;
            font-style: italic;
        }
    }

    &-notice {
        position: relative;
        padding: 40px 65px 40px 110px;
        margin: 40px 0;
        background-color: rgba($theme-secondary, .04);
        border-radius: 14px;

        @media (max-width: 991px) {
            padding: 30px 30px 30px 70px;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            display: block;
            background-color: $theme;
        }

        &::before {
            width: 20px;
            height: 20px;
            top: 30px;
            left: 30px;

            @media (max-width: 991px) {
                left: 15px;
            }
        }

        &::after {
            width: 8px;
            height: 8px;
            top: 55px;
            left: 60px;

            @media (max-width: 991px) {
                left: 45px;
            }
        }

        p {
            font-size: 21px;
            font-weight: 300;
            line-height: 33px;

            @media (max-width: 991px) {
                font-size: 18px;
                line-height: 30px;
            }

            @media (max-width: 767px) {
                font-size: 16px;
                line-height: 26px;
            }
        }
    }
}