.footer {
    color: #fff;
    background-color: $theme-secondary;
    padding: 85px 0 80px;

    @media (max-width: 991px) {
        padding: 60px 0;
    }

    @media (max-width: 767px) {
        padding: 50px 0;
    }

    @media (max-width: 567px) {
        padding: 35px 0;
    }

    @media (min-width: 992px) {
        .row {
            justify-content: space-between;
        }

        .col-lg-6 {
            flex: 0 0 560px;
        }
    }

    [class^="col-"] {
        @media (max-width: 991px) {
            padding-bottom: 30px;
        }
    }

    .logo {
        margin-bottom: 57px;

        @media (min-width: 992px) {
            margin-top: -15px;
        }

        img {
            width: 164px;
        }
    }

    h4 {
        font-family: $font-text;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 17px;
    }

    h5 {
        font-family: $font-text;
        font-size: 16px;
        font-weight: 800;
        text-transform: uppercase;
        margin-bottom: 24px;
    }

    ul {
        list-style-type: none;
        padding-left: 0;

        >li {
            margin-bottom: 6px;

            >a {
                font-size: 13px;
                font-weight: 700;
                color: rgba(#fff, .68);

                &:hover {
                    color: $theme;
                }
            }
        }
    }

    p {
        font-size: 13px;
        font-weight: 700;
    }

    .companies {
        margin-bottom: 30px;

        img {
            max-width: 100%;
            height: 44px;

            &:not(:last-child) {
                margin-right: 18px;
            }
        }

        .companies-begamble {
            height: 27px;
            vertical-align: bottom;
        }
    }

    .social-icons {
        padding-left: 0;
        list-style-type: none;

        li {
            display: inline-block;

            &:not(:last-child) {
                margin-right: 6px;
            }

            img {
                width: 34px;
                height: 34px;
                object-fit: cover;
                object-position: center;
                border-radius: 50%;
            }
        }
    }
}