.sidebar {

    @media (min-width: 1201px) {
        position: sticky;
        top: 24px;
        display: block !important;
    }

    @media (max-width: 1200px) {
        display: none;
    }

    &-item {
        max-width: 320px;
        @include margin-auto;

        +.sidebar-item {
            margin-top: 30px;
        }
    }

    &-list {
        background-color: rgba(#000, .04);
        border-radius: 14px;
        list-style-type: none;
        padding: 35px;
        margin-bottom: 0;

        li {

            a {
                font-size: 16px;
                padding: 8px 0;
                font-weight: 800;
                text-transform: initial;
            }

            .link-type-2 {
                display: flex;
                justify-content: space-between;

                &::after {
                    content: "\f0da";
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                }
            }
        }

        &.theme-blue {
            background-color: rgba($theme, .04);

            li {
                .link-type-2::after {
                    color: $theme;
                    background-color: rgba($theme, .14);
                }
            }
        }
    }
}

.sideoffer {

    .card {
        position: relative;
        // max-width: 320px;
        justify-content: flex-end;
        min-height: 496px;
        border: 0;
        @include margin-auto;
        border-radius: 14px;
        overflow: hidden;

        @media (max-width: 767px) {
            min-height: 300px;
        }

        .image {
            @include absoldefault;

            img {
                @include imgfit;
            }
        }

        .text {
            z-index: 1;
            position: relative;
            flex: auto;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-flow: column;
            text-align: center;
            padding: 0 10px 60px;

            @media (max-width: 767px) {
                padding: 10px 10px 30px;
            }

            h3 {
                font-size: 54px;
                font-style: italic;
                font-weight: 600;
                letter-spacing: -0.02em;
                text-transform: uppercase;

                @media (max-width: 767px) {
                    font-size: 42px;
                }
            }

            h4 {
                font-size: 42px;
                font-weight: 700;
                text-transform: uppercase;
            }

            a {
                font-size: 14px;
                margin-top: 26px;

                &::after {
                    color: #fff;
                    background-color: rgba(#fff, .24);
                }

                &:hover {
                    color: $theme;

                    i {
                        color: $theme;
                        background-color: rgba($theme, .24);
                    }
                }
            }
        }
    }

    &-1 .card {
        min-height: 496px;

        @media (max-width: 767px) {
            min-height: 350px;
        }

        h3,
        a {
            color: #fff;
        }
    }

    &-2 .card {
        min-height: 411px;

        .text {
            padding-bottom: 90px;

            h4 {
                color: $theme-brown;
            }

            a {
                color: #000;

                &::after {
                    background-color: rgba(#000, .24);
                }
            }
        }
    }

    &-3 .card {
        min-height: 210px;
    }

    &-4 .card {
        color: #fff;
        min-height: 580px;

        .logo-img {
            margin-bottom: 35px;
            margin-bottom: auto;
        }

        .text {
            padding: 60px 40px 40px;
        }

        .list-tick {
            text-align: left;
            margin-bottom: 30px;
        }

        small {
            font-size: 10px;
            line-height: 13px;
            font-weight: 600;
            opacity: .6;
            margin-bottom: 30px;
        }
    }

    &.theme-blue {
        color: #fff;

        .image {

            &::before,
            &::after {
                content: "";
            }

            &::before {
                @include absoldefault;
                background: linear-gradient(45deg, $theme-blue-dark 25%, rgba($theme-blue-dark, .8) 50%, transparent);
                opacity: .6;
            }

            &::after {
                @include absoldefault;
                background: linear-gradient(145deg, $theme-blue-dark 35%, rgba($theme-blue-dark, .7) 60%, transparent);
            }
        }
    }

    &.theme-green {
        color: #fff;

        .image {

            &::before,
            &::after {
                content: "";
            }

            &::before {
                @include absoldefault;
                background: linear-gradient(45deg, $theme-blue-dark 25%, rgba($theme-blue-dark, .8) 50%, transparent);
                opacity: .6;
            }

            &::after {
                @include absoldefault;
                background: linear-gradient(145deg, $theme-blue-dark 35%, rgba($theme-blue-dark, .7) 60%, transparent);
            }
        }
    }
}

.sideminioffer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 20px;
    border-radius: 4px;

    .media {
        flex: 0 0 100px;
        max-width: 100px;

        img {
            max-width: 100%;
        }
    }

    h4 {
        font-family: $font-text;
        font-size: 14px;
        font-weight: 600;
        padding-left: 15px;
        padding-right: 30px;
    }

    .link-type-icononly {
        flex: 0 0 20px;
        width: 20px;
        height: 20px;
        text-align: center;
        font-size: 12px;
    }

    &-note {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 20px 15px;
        background-color: rgba(#000, .04);

        small {
            display: block;
            font-size: 9px;
            line-height: 12px;
            letter-spacing: -0.02em;
            font-weight: 600;
            margin-bottom: 10px;
        }

        .link-offer {
            text-transform: uppercase;
            font-size: 10px;
            padding: 12px;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    }
}

.sidebar-toggle {
    position: relative;
    max-width: 320px;
    @include margin-auto;
    color: $theme;
    background-color: rgba($theme, .1);
    margin-bottom: 10px;
    border-radius: 22px;
    padding: 10px 20px;
    cursor: pointer;

    h3 {
        font-size: 20px;
        margin-bottom: 0;
    }

    &::after {
        content: "\f107";
        font-family: $font-awesome;
        font-weight: 700;
        @include absoltopcenter;
        right: 10px;
        width: 25px;
        height: 25px;
        line-height: 25px;
        border-radius: 50%;
        text-align: center;
        background-color: rgba($theme, .2);
        transition: all .4s ease-out;
    }

    &.open {
        &::after {
            transform: rotate(180deg);
            transform-origin: 50% 25%;
        }
    }
}